#home {
  --logo-size: 10rem;
  --name-size: 8rem;
  --sub-name-size: 5rem;
  --paragraph-size: 3rem;
  --button-text-size: 1.5rem;
  --gap--1: 2rem;
  --gap--2: 4rem;
  --gap-top: 8rem;
}

@media only screen and (max-width: 700px) {
  #home {
    --logo-size: 5rem;
    --name-size: 3rem;
    --sub-name-size: 2rem;
    --paragraph-size: 1.5rem;
    --button-text-size: 1rem;
    --gap--1: 1.2rem;
    --gap--2: 2rem;
    --gap-top: 5rem;
  }
}

@keyframes appear {
  0% {
    transform: rotate(-90deg) scale(0.6);
  }
  45% {
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}

@keyframes splash-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

$splash-easing: cubic-bezier(0.38, 0.34, 0.07, 1);

#home {
  &.is-fonts-loaded {
    .hero .logo {
      animation: appear 900ms cubic-bezier(0.61, 0.11, 0.22, 0.98) forwards;
    }

    .hero .header .organization-name span {
      animation: splash-up 900ms $splash-easing 500ms forwards;
    }

    .hero .header .organization-full-name .splash {
      animation: splash-up 500ms $splash-easing forwards;
    }

    .manifesto {
      animation: load-manifesto 900ms ease 1.1s forwards;
    }

    .visit-github-btn {
      animation: btn-appear 500ms ease 1.8s forwards;
    }

    .masterpieces {
      opacity: 1;
    }
  }

  .hero {
    padding-top: var(--gap-top);
    padding-bottom: var(--gap-top);
    width: calc(100% - 3rem);
    max-width: 79rem;
    margin: auto;

    .logo {
      width: var(--logo-size);
      height: var(--logo-size);
      opacity: 0;
      position: relative;
      left: -0.5rem;
    }

    .header {
      .organization-name {
        font-size: var(--name-size);
        font-weight: 700;
        line-height: 1;
        margin-top: var(--gap--1);
        letter-spacing: -0.03em;
        overflow-y: hidden;

        span {
          display: inline-block;
          transform: translateY(100%);
        }
      }

      .organization-full-name {
        font-size: var(--sub-name-size);
        overflow-y: hidden;
        font-weight: 700;
        color: #bbbbbb;
        line-height: auto;
        letter-spacing: -0.03em;

        .splash {
          display: inline-block;
          transform: translateY(100%);

          @for $i from 0 through 3 {
            &:nth-child(#{$i + 1}) {
              animation-delay: #{$i * 100 + 800}ms;
            }
          }
        }
      }
    }

    @keyframes load-manifesto {
      0% {
        transform: translateY(1.5rem);
      }
      30% {
        opacity: 0;
      }
      100% {
        transform: translateY(0rem);
        opacity: 1;
      }
    }

    .manifesto {
      opacity: 0;
      transform: translateY(1.5rem);
      margin-top: var(--gap--2);

      .paragraph {
        font-size: var(--paragraph-size);
        font-weight: 700;
      }
    }
  }

  .visit-link {
    display: inline-block;
    margin-top: var(--gap--2);
    border-radius: 9999px;

    &:focus {
      box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2);
    }
  }

  .visit-github-btn {
    cursor: pointer;
    background-color: #222;
    border-radius: 9999px;
    color: #fff;
    font-size: var(--button-text-size);
    font-weight: 600;
    padding: 1rem 1.2rem;
    opacity: 0;

    @keyframes btn-appear {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @media only screen and (max-width: 700px) {
      padding: 0.7rem 1rem;
    }
  }

  .masterpieces {
    opacity: 0;
    transition: opacity 500ms ease;
    transition-delay: 2s;
  }
}
